@font-face { font-family: Neue Montreal; src: url('Neue-montreal-free-demo_pangram-pangram_030418'); } 

body {
  margin: 0;
  width: 100%;
  background-color: #000;
  /* background-color: #1A39CF; */
  /* background-color:#002fa7; */
  /* background-color: #012FFF; */
  /* background-color: #fff; */
  text-align: center;
}

a {
  text-decoration: none;
}

.noHover{
  pointer-events: none;
}

/* Nav Bar */

.title {
  margin: 1rem 0 2rem 0;
  text-align: center;
}
nav {
  margin-bottom: 2rem;
}

nav a {
  font-size: .9rem;
  color: #fff;
}

.contact {
  position: absolute;
  top:50px;
  left:10px;
  font-family: 'IBM Plex Sans', sans-serif;

}

.information {
    position: absolute;
    top:50px;
    right:10px;
    font-family: 'IBM Plex Sans', sans-serif;

}

.brand {
  font-family: 'Oswald', 'Helvetica Neue', Roboto, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  text-align: center;
}


#chinese {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 2.5rem;
  line-height: 2rem;
  color: white;
}

/* PROJECTS */

/* .projects h1 {
  font-family: futura;
  font-style: italic;
  color: red;
  font-size: 4rem;
} */

.proj-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .proj-container >* {
  flex: 1 1 300px;
} */

.proj-browser, .bio-browser {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 525px;
  height: 375px;
  /* border: solid 2px lightcoral; */
  border: solid 2px #dc3545;
  border-radius: 1.5rem;
  margin-bottom: 2.5rem;
  margin: 2rem;
}

.card {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* border: solid 2px lightcoral; */
  border: solid 2px #dc3545;
}

.proj-top {
  display: flex;
  /* border-bottom: solid 2px lightcoral; */
  border-bottom: solid 2px #dc3545;
  height: 20px;
  background-color: black;
}

.proj-bottom {
  width: 450px;
  height: 268px;
  overflow: hidden;
}

.proj-bottom img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
}

.proj-c {
  display: flex;
  justify-content: flex-start;
  width: 0.8rem;
  height: 0.8rem;
  border: solid 2px lightcoral;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}

.content {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: auto;
  overflow:hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.9);
  /* background: rgba(255,255,255, 0.9); */
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2rem;
  width: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-top{
  top: 20%;
}

.content-details p {
  color: white;
  /* font-family: futura; */
  font-family: 'Helvetica Neue', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;

  font-weight: 300;
  /* font-style: italic; */
  letter-spacing: 0.03em;
}

.content-details span {
  font-weight: bold;
}
.contact-icons {
  margin-top: 3rem;
  text-align:center;
}

.contact-icons a {
  color: darkgrey;
  font-size: 3rem;
  text-decoration: none;
  margin: 1rem;
}

@media only screen and (max-width: 600px){
  .brand {
    font-size: 1.5rem;
  }
  .information, .contact {
    font-size: 0.5rem;
  }
}



