@font-face { font-family: Neue Montreal; src: url('Neue-montreal-free-demo_pangram-pangram_030418'); } 
@font-face { font-family: Nimbus Sans L; src: url('./media/nimbus-sans-l/NimbusSanL-Reg.otf'); } 

body {
  margin: 0;
  width: 100%;
  background-color: rgb(245, 229, 199);
  /* background-color: #FAEED1; */
  /* background-color: #1A39CF; */
  /* background-color:#002fa7; */
  /* background-color: #012FFF; */
  /* background-color: #000; */
  /* background-color: #6322FF; */
  /* text-align: center; */
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-family: Helvetica Neue, Roboto, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* .noHover{
  pointer-events: none;
} */

/*** Nav Bar ***/

.fixed-top {
  top: 1.5rem;
}

nav a {
  font-size: 1rem;
  color: #FE3200;
  margin: 0 2rem;
  font-weight: 400;
}

#red {
  color: #FE3200;
}

.brand {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #FE3200;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  line-height: 1;
  margin: 4%;
}

.brand img {
  width: 3.5rem;
  margin-left: 1rem;
}

#hidden {
  visibility: hidden;
}

.nav-link {
  text-transform: uppercase;
  font-style: italic;
  color: #FE3200;
  letter-spacing: 0.08rem;
}

#underline {
  color: #FE3200;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 2.5px;
  position: relative;
}

#underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: #FE3200;
  transition: all 0.3s ease-in-out;
  width: 0;
}

#underline:hover:after { 
  width: 100%; 
}

#dev {
  font-size: 1rem;
  margin-left: 5%;
  color: #FE3200;
  font-weight: 300;
}


/*** PROJECTS ***/

.side {
  color: #FE3200;
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
  margin: 40rem 2.5rem 2rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #FE3200;
  font-style: italic;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.proj-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}

/*** PROJECT CARDS ***/

.proj-browser {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 525px;
  height: 375px;
  border: solid 2px #FE3200;
  border-radius: 1.5rem;
  margin-bottom: 2.5rem;
  margin: 2rem;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.098);
}

.card {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: solid 2px #FE3200;
}

.proj-top {
  display: flex;
  border-bottom: solid 2px #FE3200;
  height: 20px;
  background-color: rgb(245, 229, 199);
}

.proj-bottom {
  width: 450px;
  height: 268px;
  overflow: hidden;
}

.proj-bottom img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
}

.proj-c {
  display: flex;
  justify-content: flex-start;
  width: 0.8rem;
  height: 0.8rem;
  border: solid 2px#FE3200;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}

.content {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: auto;
  overflow:hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2rem;
  width: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-top{
  top: 20%;
}

.content-details p {
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  letter-spacing: 0.05em;
}

.content-details span {
  font-weight: bold;
}

.content-details a {
  font-size: 1.25rem;
}

/*** CONTACT ***/

.contact-icons {
  margin: 5% 0 5%;
  text-align:center;
}

.contact-icons a {
  color: darkgrey;
  font-size: 3rem;
  text-decoration: none;
  margin: 1rem;
}

.contact-icons a:hover{
  color:  rgba(0, 0, 255, .2);
}

/*** ABOUT ***/

.bio-left {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 2rem;
}

.img-container {
  display: flex;
  justify-content: center;
}

.flex-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin-top: 2rem;
}

.flex-icons p {
  color:darkgray;
  letter-spacing: 0.05rem;
  text-decoration: none;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
}

.flex-icons >*{
  font-size: 3rem;
  padding:1rem;
  color: darkgrey;
  text-align: center;
}

.flex-icons span:hover {
  color:  rgba(0, 0, 255, .2);
}

/*** BIO ***/

#bio {
  padding: 0 5%;
}

.bio-right {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

.bio-right p {
  font-family: Roboto, sans-serif;
  color: #FE3200;
  letter-spacing: 0.1rem;
  line-height: 2;
}

.about {
  background-color: rgba(245, 222, 179, 0.584);
  padding: 1.5rem 1rem;
  text-align: center;
}

/*** MEDIA QUERIES ***/

/** IPAD **/

@media only screen and (max-width: 1215px) {
  .row {
    display: flex; 
    justify-content: center;
  }
  .col-lg-6 {
    max-width: 550px;
  }
  .bio-left {
    padding: 0;
  }
  .bio-right {
    padding: 0;
    margin-bottom: 2rem;
  }

}

/** IPAD **/

@media only screen and (max-width: 975px){
 
  .navbar-brand {
    width: 100%;
    
   
  }
}


@media only screen and (max-width: 764px){

  /*** NAVBAR ***/

  #hidden {
    visibility: visible;
  }

  .navbar {
    margin-top: 2rem;
  }

  .navbar-brand {
    font-size: 0rem;;
    /* visibility: hidden; */
    display: none;
  }

  
  .mobile-brand h1 {
    font-size: 2rem;
    font-style: italic;

  }

  .mobile-brand img {
    height: 2em;
    /* height: auto; */
    margin-left: 1rem;
  }
  
  /*** PROJECTS ***/
  .position-fixed {
    visibility: hidden;
  }

  .proj-browser {
    width: 320px;
    height: 228.6px;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, 0.098);
  }

  .card {
    display: block;
    border: solid 2px #FE3200;
  }
  
  .proj-top {
    height: 16px;
  }
  
  .proj-bottom {
    width: 255px;
    height: 151.478px;
  }

  /* BIO */
 
  .about {
    padding: 0.1rem;
    display: flex;
    align-items: center;
  }
  .about p {
    font-size: 0.6rem;
    margin-bottom: 0;
  }
}

/** MOBILE **/
@media only screen and (max-width: 375px){
  
  /* NAV */
  .mobile-brand h1 {
    font-size: 1.5rem;
  }
  .mobile-brand img {
    height: 1rem;
  }
  #hidden {
    margin-left: 0;
  }
  /* PROJECTS */

  .content-details {
    font-size: 0.75rem;
    line-height: 1.5;
    padding: 1rem 0 0 0;
    
  }

  .content-details a {
    font-size: 0.9rem;
  }

  /* BIO */

  .bio-left {
    padding: 0;
  }
  .flex-icons {
    width: 100%;
  }
  .bio-right {
    padding: 0;
  }
  .about {
    padding: 0.1rem;
    display: flex;
    align-items: center;
  }
  .about p {
    font-size: 0.6rem;
    margin-bottom: 0;
  }



}